.DS_Store
2024_dnn/data/MNIST/raw/t10k-images-idx3-ubyte
2024_dnn/data/MNIST/raw/t10k-images-idx3-ubyte.gz
2024_dnn/data/MNIST/raw/t10k-labels-idx1-ubyte
2024_dnn/data/MNIST/raw/t10k-labels-idx1-ubyte.gz
2024_dnn/data/MNIST/raw/train-images-idx3-ubyte
2024_dnn/data/MNIST/raw/train-images-idx3-ubyte.gz
2024_dnn/data/MNIST/raw/train-labels-idx1-ubyte
2024_dnn/data/MNIST/raw/train-labels-idx1-ubyte.gz
2024_nlp/hw2/model_output/epoch_1.pt
2024_nlp/hw2/model_output/epoch_10.pt
2024_nlp/hw2/model_output/epoch_11.pt
2024_nlp/hw2/model_output/epoch_12.pt
2024_nlp/hw2/model_output/epoch_13.pt
2024_nlp/hw2/model_output/epoch_14.pt
2024_nlp/hw2/model_output/epoch_15.pt
2024_nlp/hw2/model_output/epoch_2.pt
2024_nlp/hw2/model_output/epoch_3.pt
2024_nlp/hw2/model_output/epoch_4.pt
2024_nlp/hw2/model_output/epoch_5.pt
2024_nlp/hw2/model_output/epoch_6.pt
2024_nlp/hw2/model_output/epoch_7.pt
2024_nlp/hw2/model_output/epoch_8.pt
2024_nlp/hw2/model_output/epoch_9.pt
2024_nlp/hw2/model_output/epoch_1.pt
/2024_nlp/hw2/model_output
/2024_nlp/hw3/results
